@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Lato-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/OpenSans-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/OpenSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

*,
::after,
::before {
    box-sizing: border-box;
    border: 0 solid currentColor
}

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
}

a {
    color: inherit;
    text-decoration: inherit;
}

.bg-general {
    background: url('../img/bg.png'), #f4a55d;
    min-height: 100vh
}

body {
    margin: 0;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.header {
    background-color: #e8c64e;
    box-shadow: transparent 0 0 0 0, transparent 0 0 0 0, rgba(0, 0, 0, .25) 0 25px 50px -12px;
    filter: drop-shadow(rgba(0, 0, 0, .25) 0px 4px 4px)
}

.header-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.header-left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: #111827
}

.header-right-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem
}

.header-nav-item {
    padding-left: .5rem;
    padding-right: .5rem
}

.header-title {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    min-width: 100%
}


.header-logo {
    position: relative;
    top: .5rem;
    height: 5rem
}

.header {
    color: rgb(75, 85, 99);
}

.header-nav-item:hover {
    color: rgb(17, 24, 39);
}


@media (min-width:460px) {
    .header-container {
        max-width: 460px
    }
}

@media (min-width:640px) {
    .header-nav-item {
        padding-left: 0;
        padding-right: 0
    }

    .header-logo {
        width: 5rem
    }

    .header-container {
        max-width: 640px
    }

    .header-left-side {
        height: 100%
    }
}


@media (min-width:768px) {
    .header-container {
        max-width: 768px;
        flex-direction: row
    }

    .header-left-side {
        height: 4rem
    }

    .header-right-side {
        margin-left: auto
    }

    .header-nav-item {
        margin-right: 1.75rem
    }

    .header-title {
        margin-left: .75rem;
        text-align: justify;
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}



@media (min-width:1024px) {
    .header-container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .header-container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .header-container {
        max-width: 1536px
    }
}



/* Hero */
.hero-container {
    width: 100%;
}

@media (min-width: 1280px) {

    .hero-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {

    .hero-container {
        max-width: 1536px;
    }
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}

@media (min-width: 1024px) {

    .hero-container {
        width: 80%;
    }
}

.ferris-logo {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-width: 500px;
}

.hero-text-container {
    margin-top: 1.5rem;
    width: 100%;
}

@media (min-width: 1024px) {

    .hero-text-container {
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2.5rem;
    }
}

.hero-title {
    margin-bottom: 1.25rem;
    font-family: Open Sans;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 7px 2px 4px);
}

.hero-subtitle {
    font-family: Playfair Display, sans-serif;
    font-family: Ubuntu;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}

/* Join us */
.joinus-container {
    width: 100%;
}

.joinus-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {

    .joinus-container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.joinus-left-side {
    margin-bottom: 2.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-bottom-width: 1px;
    border-color: rgb(229, 96, 52);
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {

    .joinus-left-side {
        margin-bottom: 0px;
        width: 33.333333%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 460px) {

    .joinus-left-side {
        border-right-width: 4px;
        border-bottom-width: 0px;
    }
}

.joinus-left-side {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {

    .joinus-left-side {
        padding-right: 3rem;
    }
}

.joinus-center-side {
    margin-bottom: 2.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-bottom-width: 1px;
    border-color: rgb(229, 96, 52);
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {

    .joinus-center-side {
        margin-bottom: 0px;
        width: 33.333333%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 460px) {

    .joinus-center-side {
        border-right-width: 4px;
        border-bottom-width: 0px;
    }
}

.joinus-center-side {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {

    .joinus-center-side {
        padding-right: 3rem;
    }
}

.joinus-right-side {
    margin-bottom: 2.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {

    .joinus-right-side {
        margin-bottom: 0px;
        width: 33.333333%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.joinus-right-side {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {

    .joinus-right-side {
        padding-left: 3rem;
    }
}

.joinus-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 7px 2px 4px);
}

.icon-container {
    min-height: 76px;
    display: flex;
    align-items: center;
}

.join-us-meetup-icon {
    height: 76px;
    width: 76px;
}

/* About section */

.about-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
}
@media (min-width: 640px) {

    .about-container {
        gap: 2rem;
    }
}
@media (min-width: 768px) {

    .about-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}
.about-image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.about-text-side {
    font-family: Ubuntu;
}
.about-description {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Open Sans;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.about-action {
    font-family: Open Sans;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

/* Projects */ 

.our-projects-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
@media (min-width: 640px) {

    .our-projects-section {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media (min-width: 1024px) {

    .our-projects-section {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
.our-projects-section{
    margin-bottom:1rem;
    padding-bottom: 0;
}
.our-projects-title-container{
    line-height: 0.5;
}
.our-projects-title {
    font-family: Lato, sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
@media (min-width: 768px) {

    .our-projects-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
.our-projects-title{
    display: inline-block;
    position: relative;
}
.our-projects-title:before{
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    top: 50%;
    width: 600px;
    right: 100%;
    margin-right: 15px;
}


.repo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.repository {
    background-color: #000000;
    color: rgb(181, 18, 20);
    padding: 1rem;
}

.repository__name {
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
}

.repository__description {
    padding: 2rem;
    text-align: center;
    font-family: Playfair Display, sans-serif;
}

.repository__langs {
    display: flex;
    align-items: center;
    gap: .5rem;
}


/* our-members-section */

